<div class="container">
  <div class="row">
    <div class="col-md-1">

    </div>
<div class="col-md-10">
  <h1 class="text-center text-weight-bold pt-5">きょうのごはん投稿</h1>

<%= render 'form', post: @post %>

<%= link_to 'もどる', posts_path %>
</div>
    <div class="col-md-1">

    </div>
  </div>
</div>
